In [1]:
import tensorflow as tf
from tensorflow.keras.models import load_model
import pickle
import pandas as pd
import numpy as np

In [4]:
## Load the ANN train model,Scaler pickle and onehot
model = load_model('model.h5')

## Load the encoder and scaler
with open ('label_encoder_gender.pkl','rb') as file:
    label_encoder_gender = pickle.load(file)

with open ('onehot_encoder_geo.pkl','rb') as file:
    onehot_encoder_geo = pickle.load(file)

with open ('Scaler.pkl','rb') as file:
    Scaler = pickle.load(file)

In [27]:
## Example Input Data
input_data = {
    'CreditScore':600,
    'Geography':'France',#This is also a categorical data
    'Gender':'Male', # This is a categorical Data So we will have to convert it to the numerical data with the help of Encoders
    'Age':40,
    'Tenure':3,
    'Balance':60000,
    'NumOfProducts':2,
    'HasCrCard':1,
    'IsActiveMember':1,
    'EstimatedSalary':50000
}

In [28]:
##One hot Encoding Geography
geo_encoded = onehot_encoder_geo.transform([[input_data['Geography']]]).toarray()
geo_encoded_df = pd.DataFrame(geo_encoded,columns=onehot_encoder_geo.get_feature_names_out(['Geography']))
geo_encoded_df

C:\Users\Kartik\OneDrive\Desktop\Udemy_End_to_End_Project\tf_env\lib\site-packages\sklearn\base.py:465: UserWarning: X does not have valid feature names, but OneHotEncoder was fitted with feature names
  warnings.warn(

   Geography_France  Geography_Germany  Geography_Spain
0               1.0                0.0              0.0

In [29]:
## The data is now in the key value pair so now we have to convert it into the dataframe
input_df = pd.DataFrame([input_data])
input_df

   CreditScore Geography Gender  Age  Tenure  Balance  NumOfProducts  HasCrCard  IsActiveMember  EstimatedSalary
0          600    France   Male   40       3    60000              2          1               1            50000

In [30]:
## Encode cetegorical variables  => Gender column
input_df['Gender'] = label_encoder_gender.transform(input_df['Gender'])
input_df

   CreditScore Geography  Gender  Age  Tenure  Balance  NumOfProducts  HasCrCard  IsActiveMember  EstimatedSalary
0          600    France       1   40       3    60000              2          1               1            50000

In [31]:
## Concatination =>Combine this one-hot encoded columns with input data
input_df = pd.concat([input_df.drop("Geography",axis = 1),geo_encoded_df],axis= 1)
input_df

   CreditScore  Gender  Age  Tenure  ...  EstimatedSalary  Geography_France  Geography_Germany  Geography_Spain
0          600       1   40       3  ...            50000               1.0                0.0              0.0

[1 rows x 12 columns]

In [33]:
## Scaling the input data
input_scaled = Scaler.transform(input_df)
input_scaled

array([[-0.53598516,  0.91324755,  0.10479359, -0.69539349, -0.25781119,
         0.80843615,  0.64920267,  0.97481699, -0.87683221,  1.00150113,
        -0.57946723, -0.57638802]])

# Model Prediction

In [34]:
prediction = model.predict(input_scaled)
prediction

1/1 [==============================] - 0s 162ms/step

array([[0.07197087]], dtype=float32)

In [35]:
prediction_prob = prediction[0][0]
prediction_prob

0.071970865

In [36]:
if prediction_prob > 0.5:
    print("The customer is likely to churn/Exit.")
else:
    print("The customer is not likely to Churn/Exit.")

The customer is not likely to Churn/Exit.